#about {
  padding: 12rem 3vw;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;

  @media (max-width: 1000px) {
    flex-direction: column;

    .text {
      max-width: 480px !important;
      margin-top: 6vh;
    }
  }

  .dashboard {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    max-height: 320px;

    @media (max-width: 530px) {
      img {
        width: 85vw;
      }
    }

    img {
      border-radius: 8px;
    }

    .card {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      width: fit-content;
      padding: 16px;

      background: rgba(255, 255, 255, 0.1);
      backdrop-filter: blur(8px);
      border-radius: 20px;

      position: relative;
      top: -70px;

      h5 {
        font-weight: 600;
        font-size: var(--text-sm);
        color: #FFFFFF;
        margin: 0;
      }

      p {
        font-weight: 400;
        font-size: var(--text-xs);
        color: #BABEC4;
        margin: 5px 0;
      }
    }
  }

  .text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    max-width: 400px;

    h4 {
      margin: 0 0 15px 0;
      font-weight: 600;
      font-size: var(--text-md);
      color: #F1F2F3;
    }

    p {
      margin: 0;
      font-weight: 400;
      font-size: var(--text-xs);
      color: #BABEC4;
    }

    button {
      background: #4177DC;
      border-radius: 4px;
      border: none;

      margin: 31px 0 0 0;
      padding: 14px 32px;
      cursor: pointer;

      font-weight: 500;
      font-size: var(--text-xs);
      color: #FFFFFF;

      transition: 0.3s;

      &:hover {
        transform: skew(-10deg);
      }
    }

  }
}
