#offer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  padding: 6rem 3vw;
  margin: 4rem 0;

  background: url("@/assets/images/subscribe-bg.png") no-repeat center;
  background-size: cover;

  .left {

    h3 {
      font-weight: 600;
      font-size: var(--text-md);
      color: #F1F2F3;
    }

    p {
      font-weight: 400;
      font-size: var(--text-xs);
      color: #BABEC4;
    }
  }

  @media (max-width: 700px) {
    flex-direction: column;

    .right img {
      margin-top: 4rem;
      width: 100vw;
    }
  }
}
